USE [master]
GO
/****** Object:  Database [HLCMPruebaLibros]    Script Date: 16/1/2026 17:07:00 ******/
CREATE DATABASE [HLCMPruebaLibros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HLCMPruebaLibros', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HLCMPruebaLibros.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HLCMPruebaLibros_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HLCMPruebaLibros_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HLCMPruebaLibros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HLCMPruebaLibros]
GO
/****** Object:  StoredProcedure [dbo].[LibroAdd]    Script Date: 16/1/2026 17:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LibroAdd]
@Titulo VARCHAR(100),
@AnioPublicacion INT,
@IdAutor INT,
@IdEditorial INT

AS 
BEGIN 
BEGIN TRANSACTION
BEGIN TRY
INSERT INTO Libro (Titulo, AnioPublicacion, IdAutor, IdEditorial) VALUES (@Titulo, @AnioPublicacion, @IdAutor, @IdEditorial)
COMMIT
END TRY

BEGIN CATCH
ROLLBACK
END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[LibroDeleteAutor]    Script Date: 16/1/2026 17:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LibroDeleteAutor]
@IdAutor INT
AS

BEGIN
BEGIN TRANSACTION
BEGIN TRY
DELETE Libro WHERE IdAutor = @IdAutor
COMMIT 
END TRY

BEGIN CATCH
ROLLBACK
END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[LibroDeleteEditorial]    Script Date: 16/1/2026 17:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LibroDeleteEditorial]
@IdEditorial INT
AS

BEGIN
BEGIN TRANSACTION
BEGIN TRY
DELETE Libro WHERE IdEditorial = @IdEditorial
COMMIT 
END TRY

BEGIN CATCH
ROLLBACK
END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[LibroGetAll]    Script Date: 16/1/2026 17:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LibroGetAll]
    @NombreAutor VARCHAR(50) = NULL,
    @Titulo VARCHAR(100) = NULL,
    @AnioPublicacion INT = NULL,
    @NombreEditorial VARCHAR(50) = NULL
AS
BEGIN

    SELECT  
        L.IdLibro,
        L.Titulo,
        L.AnioPublicacion,
        A.Nombre AS NombreAutor,
        A.Apellidos,
        E.Nombre AS NombreEditorial
    FROM Libro L
    INNER JOIN Autor A ON L.IdAutor = A.IdAutor
    INNER JOIN Editorial E ON L.IdEditorial = E.IdEditorial
    WHERE
        (ISNULL(@Titulo,'') = '' OR L.Titulo LIKE '%' + @Titulo + '%')
    AND (ISNULL(@NombreAutor,'') = '' OR A.Nombre LIKE '%' + @NombreAutor + '%')
    AND (ISNULL(@NombreEditorial,'') = '' OR E.Nombre LIKE '%' + @NombreEditorial + '%')
    AND (ISNULL(@AnioPublicacion,0) = 0 OR L.AnioPublicacion = @AnioPublicacion)

END
GO
/****** Object:  StoredProcedure [dbo].[LibroGetById]    Script Date: 16/1/2026 17:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LibroGetById]
    @IdLibro INT
AS
BEGIN
    SELECT 
        Libro.IdLibro,
        Libro.Titulo,
        Libro.AnioPublicacion,
        Autor.Nombre AS NombreAutor,
        Autor.Apellidos,
        Editorial.Nombre AS NombreEditorial
    FROM Libro
    INNER JOIN Autor 
        ON Libro.IdAutor = Autor.IdAutor
    INNER JOIN Editorial 
        ON Libro.IdEditorial = Editorial.IdEditorial
    WHERE Libro.IdLibro = @IdLibro
END
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 16/1/2026 17:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Autor](
	[IdAutor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 16/1/2026 17:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Editorial](
	[IdEditorial] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEditorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 16/1/2026 17:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Libro](
	[IdLibro] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](100) NOT NULL,
	[AnioPublicacion] [int] NOT NULL,
	[IdAutor] [int] NULL,
	[IdEditorial] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Autor] ON 

INSERT [dbo].[Autor] ([IdAutor], [Nombre], [Apellidos]) VALUES (1, N'Monse', N'Ontiveros Pulido')
INSERT [dbo].[Autor] ([IdAutor], [Nombre], [Apellidos]) VALUES (2, N'Alejandra', N'Gonzalez Chavarin')
INSERT [dbo].[Autor] ([IdAutor], [Nombre], [Apellidos]) VALUES (3, N'Ceani', N'Ortiz Gonzalez')
SET IDENTITY_INSERT [dbo].[Autor] OFF
SET IDENTITY_INSERT [dbo].[Editorial] ON 

INSERT [dbo].[Editorial] ([IdEditorial], [Nombre]) VALUES (1, N'Sudamerica')
INSERT [dbo].[Editorial] ([IdEditorial], [Nombre]) VALUES (2, N'Atlantis')
INSERT [dbo].[Editorial] ([IdEditorial], [Nombre]) VALUES (3, N'La Jorada')
SET IDENTITY_INSERT [dbo].[Editorial] OFF
SET IDENTITY_INSERT [dbo].[Libro] ON 

INSERT [dbo].[Libro] ([IdLibro], [Titulo], [AnioPublicacion], [IdAutor], [IdEditorial]) VALUES (13, N'El Principito', 2002, 1, 1)
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [AnioPublicacion], [IdAutor], [IdEditorial]) VALUES (14, N'Ana Frank', 2005, 1, 1)
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [AnioPublicacion], [IdAutor], [IdEditorial]) VALUES (15, N'El Señor de los Anillos', 1998, 2, 2)
SET IDENTITY_INSERT [dbo].[Libro] OFF
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([IdAutor])
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD FOREIGN KEY([IdEditorial])
REFERENCES [dbo].[Editorial] ([IdEditorial])
GO
USE [master]
GO
